<div class="profile-container">
  <div class="avatar-container">
    <div class="avatar">
      <img class="image" src="{{ organization.imageBase64 }}" alt="avatar" />
    </div>
  </div>
  <div class="info-container">
    <div class="username-container">
      <span class="username">{{ organization.name }}</span>
      @if(isOwner()){

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit()">
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="addTeam()">
          <span>Add Team</span>
        </button>
      </mat-menu>
      }
    </div>
    @if(!isOwner()){
    <div class="community-info">
      <div class="community">
        <i class="fa-regular fa-user icons"></i>
        <span class="joined">Owner: {{ organization.owner }}</span>
      </div>
    </div>
    }
    <div class="community-info">
      <div class="community">
        <span class="joined">{{ organization.description }}</span>
      </div>
    </div>
  </div>
</div>
<div class="links-container">
  <a
    [ngClass]="{ active: activeLink === 1 }"
    (click)="setActiveLink(1)"
    class="link"
  >
    Repositories
  </a>

  <a
    [ngClass]="{ active: activeLink === 2 }"
    (click)="setActiveLink(2)"
    class="link"
  >
    Teams
  </a>

  <a
    [ngClass]="{ active: activeLink === 3 }"
    (click)="setActiveLink(3)"
    class="link"
  >
    Members
  </a>
</div>

<div
  class="content"
  [ngClass]="{ 'content-center': activeLink === 3 }"
>
  @if(activeLink === 1){
  <div class="search-container">
    <input type="text" placeholder="Search Repositories" />
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
  </div>
  } @if(activeLink === 2){
  <div>
    <app-teams [teams]="organization.teams"></app-teams>
  </div>
  } @if(activeLink === 3){
  <div>
    <h2>Members</h2>
  </div>
  }
</div>
