.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-card {
    max-width: 500px;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .centered-header {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .compact-field {
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .radio-button-title{
    margin-left: 13px;
  }

  .mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-icon-color: var(--primary-color);
    --mdc-radio-selected-hover-icon-color: var(--primary-color);
    --mdc-radio-selected-focus-icon-color: var(--primary-color);
    --mdc-radio-selected-pressed-icon-color: var(--primary-color);
    --mat-radio-checked-ripple-color: var(--primary-color);
  }