/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: #3f51b5;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.success {
  --mdc-snackbar-container-color: rgb(47, 255, 203) !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white;
}
.error {
  --mdc-snackbar-container-color: rgb(244, 112, 112) !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgray;
  border: 1px solid white;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
