<div *ngIf="user?.username != ''">
  <div class="profile-container">
    <div class="avatar-container">
      <div class="avatar">
        <span class="avatar-letter">{{ capitalizedLetterAvatar }}</span>
      </div>
    </div>
    <div class="info-container">
      <div class="username-container">
        <span class="username">{{ user.username }}</span>
        <div
          [ngClass]="{
            'editable-badge': isAdminLoggedIn || isSuperAdminLoggedIn,
            'badge-btn': true
          }"
        >
          <app-user-badge
            [userBadge]="user.badge"
            [editable]="editable"
            (click)="editable ? openBadgeDialog() : null"
          ></app-user-badge>
        </div>
        <button
          *ngIf="isLoggedInUserProfile"
          class="edit-icon-btn"
          (click)="goToSettings()"
        >
          <i class="fa-solid fa-pen icons"></i>
        </button>
      </div>
      <div
        *ngIf="
          ((isAdminLoggedIn || isSuperAdminLoggedIn) &&
            !isLoggedInUserProfile) ||
          isUserLoggedIn
        "
        class="community-info"
      >
        <div class="community">
          <i class="fa-regular fa-user icons"></i>
          <span class="joined">Community User</span>
        </div>
        <div class="date-info">
          <i class="fa-regular fa-calendar icons"></i>
          <p *ngIf="isDateValid(user.createdAt)" class="joined">
            Joined {{ user.createdAt | date : "mediumDate" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Repositories">
      <ng-template matTabContent>
        <div class="repositories-wrapper">
          <div class="repositories-container">
            @if (repositories && repositories.length > 0) { @for (repository of
            repositories; track repository.id) {
            <app-docker-image
              (click)="navigateToRepository(repository.id)"
              [title]="repository?.fullName"
              [updatedAt]="repository?.updatedAt"
              [description]="repository?.description"
              [footerText]="repository?.isPrivate ? 'Private' : 'Public'"
              [ownedBy]="repository?.ownedBy"
              [badge]="repository?.badge"
            ></app-docker-image>
            } } @else {
            <div class="no-users">No repositories found</div>
            }
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab
      label="Contributed"
    >
      <ng-template matTabContent>
        <div class="repositories-wrapper">
          <div class="repositories-container">
            @if (contributedRepositories && contributedRepositories.length > 0)
            { @for (repository of contributedRepositories; track repository.id)
            {
            <app-docker-image
              (click)="navigateToRepository(repository.id)"
              [title]="repository?.fullName"
              [updatedAt]="repository?.updatedAt"
              [description]="repository?.description"
              [footerText]="repository?.isPrivate ? 'Private' : 'Public'"
              [ownedBy]="repository?.ownedBy"
              [badge]="repository?.badge"
            ></app-docker-image>
            } } @else {
            <div class="no-users">No contributed repositories</div>
            }
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="!user?.username">
  <div class="no-user-container">
    <p class="no-user-message">User not found.</p>
  </div>
</div>