.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-card {
  max-width: 500px;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.centered-header {
  text-align: center;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.compact-field {
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group-upload {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.upload {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 50%;
}

.image-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

mat-card-actions {
  display: flex;
  gap: 16px;
}
