<div class="centered-container">
  <mat-card class="main-card">
    <mat-card-header class="centered-header">
      <mat-card-title class="title">Add New Organization</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form
        [formGroup]="organizationForm"
        (ngSubmit)="onSubmit()"
        class="form-container"
      >
        <!-- Organization Name -->
        <div class="row">
          <mat-form-field class="compact-field" appearance="outline">
            <mat-label>Organization Name</mat-label>
            <input matInput formControlName="name" />
            @if(organizationForm.get('name')?.hasError('required')){
            <mat-error> Organization Name is required. </mat-error>}
            @if(organizationForm.get('name')?.hasError('maxlength')){
            <mat-error> Name cannot exceed 100 characters. </mat-error>}
          </mat-form-field>
        </div>

        <!-- Description -->
        <div class="row">
          <mat-form-field class="compact-field" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              rows="4"
            ></textarea>
            @if(organizationForm.get('description')?.hasError('maxlength')){
            <mat-error> Description cannot exceed 500 characters. </mat-error>}
          </mat-form-field>
        </div>

        <!-- Image Upload -->
        <div class="form-group-upload">
          <div class="form-group upload">
            <label for="org-image">Upload Logo</label>
            <input
              id="org-image"
              type="file"
              (change)="onFileChange($event)"
              accept="image/*"
              class="form-input"
            />
          </div>
          <!-- Image Preview -->
          @if(organizationForm.get('imageBase64')?.value){
          <div class="image-preview-container">
            <img
              [src]="organizationForm.get('imageBase64')?.value"
              alt="Organization Logo"
              class="image-preview"
            />
          </div>
          }
        </div>

        <!-- Submit Button -->
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [disabled]="organizationForm.invalid"
            style="width: 100%"
          >
            Add Organization
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
