<div class="container">
  <a class="link-container">
    <div class="link-header">
      <img [src]="dockerImage?.logoIcon" class="logo" />
      <span class="ellipsis">{{ dockerImage?.title }}</span>
      <i class="fa fa-check-circle"></i>
    </div>

    <div class="multi-line-ellipsis">
      {{ dockerImage?.description }}
    </div>

    <div class="link-footer">
      <i class="fa fa-star-o footer-text"> </i>
      <span class="footer-text">{{
        formatNumber(dockerImage?.likesCount ?? 0)
      }}</span>
      <i class="fa fa-download footer-text"></i>
      <span class="footer-text"> {{
        formatNumber(dockerImage?.downloadsCount ?? 0)
      }}</span>
    </div>
  </a>
</div>