<div class="container">
  <a class="link-container">
    <div class="link-header">
      <span class="ellipsis">{{ title }}</span>
      <app-repository-badge [iconSize]="'medium-icon'" [ownedBy]="ownedBy" [ownerBadge]="badge" />
    </div>

    <div class="multi-line-ellipsis">
      <p class="description">{{ description }}</p>
      <p *ngIf="isDateValid(updatedAt)" class="created">
        Updated: {{ updatedAt | date : "mediumDate" }}
      </p>
    </div>

    <div class="link-footer">
      <!-- TODO: For staring repo -->
      <!-- <i class="fa fa-star-o footer-text"> </i>
      <span class="footer-text">{{
        formatNumber(likesCount ?? 0)
      }}</span> -->
      <span *ngIf="footerText != ''" class="footer-text">
        {{ footerText }}</span
      >
    </div>
  </a>
</div>
