.title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.content-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.filters-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.docker-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
}

.trusted-content {
  width: 150px;
  margin-bottom: 1rem;
}

.chevron-icon {
  color: var(--primary-color);
  padding-left: 15px;
}

.categories {
  width: 150px;
}
.dropdown-btn {
  border: transparent;
  background-color: transparent;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
}

.dropdown-content button {
  border: none;
  background: none;
  color: black;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
  cursor: pointer;

  &:hover, &.active {
    color: var(--primary-color);
  }
}

.button-container button {
  width: calc(25% - 10px);
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.sort-content {
  margin-bottom: 5rem;
  margin-left: 0.4rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  label {
    margin-right: 0;
    font-weight: bold;
    white-space: nowrap;
  }

  select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;

    flex-grow: 1;
    min-width: 5rem;
    max-width: 100%;
  }

  select:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}