<h1 class="title">Docker Images</h1>
<div class="content-container">
  <div class="filters-container">
    <div class="trusted-content">
      <div class="sort-content">
        <label for="sortSelect">Sort by:</label>
        <select
          id="sortSelect"
          [(ngModel)]="selectedSortOption"
          (change)="sortRepositories()"
        >
          <option *ngFor="let option of sortBy" [value]="option.id">
            {{ option.name }}
          </option>
        </select>
      </div>
      <button (click)="toggleTrustedContentVisibility()" class="dropdown-btn">
        Trusted content
        <i
          class="fa chevron-icon"
          [ngClass]="
            isTrustedContentVisible ? 'fa-chevron-up' : 'fa-chevron-down'
          "
        ></i>
      </button>
      <div *ngIf="isTrustedContentVisible">
        <div class="dropdown-content">
          <button
            (click)="filterByBadge(UserBadge.DockerOfficialImage)"
            [class.active]="isActive(UserBadge.DockerOfficialImage)"
          >
            Docker Official Image
          </button>
          <button
            (click)="filterByBadge(UserBadge.VerifiedPublisher)"
            [class.active]="isActive(UserBadge.VerifiedPublisher)"
          >
            Verified Publisher
          </button>
          <button
            (click)="filterByBadge(UserBadge.SponsoredOSS)"
            [class.active]="isActive(UserBadge.SponsoredOSS)"
          >
            Sponsored OSS
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="docker-images-container">
    <div *ngFor="let repo of repositories">
      <app-docker-image
        [title]="repo?.fullName"
        [updatedAt]="repo?.updatedAt"
        [description]="repo?.description"
        [footerText]="'Public'"
        [ownedBy]="repo?.ownedBy"
        [badge]="repo?.badge"
        (click)="navigateToRepository(repo.id)"
      ></app-docker-image>
    </div>
  </div>
</div>
