<div class="search">
  <form (submit)="search(); $event.preventDefault()">
    <input
      type="text"
      placeholder="Search tags..."
      name="search"
      class="search-input"
      autocomplete="off"
      [(ngModel)]="searchQuery"
    />
    <button type="submit" class="search-button">
      <img src="icons/search.png" width="25rem" height="25rem" />
    </button>
  </form>
  

  <select
    name="search-select"
    class="search-select"
    [(ngModel)]="selectedSortOption"
    (change)="sortArtifacts()"
  >
      <option *ngFor="let sort of sortBy" [value]="sort.id">
        {{ sort.name }}
      </option>
  </select>
</div>
<div class="users-content-container">
  <div class="users-container">
    @for (artifact of filteredArtifacts; track trackByIndexName($index, artifact)) {
    <div class="user-container">
      <div class="user-details-container">
        <div class="link-header">
          <span class="ellipsis">{{ artifact?.tag?.name }}</span>
          <div class="os">
            @if(artifact?.extraAttrs?.os === 'linux'){
                <span>🐧</span>
            }
            @if(artifact?.extraAttrs?.os === 'windows'){
                <span>🪟</span>
            }
            {{ artifact?.extraAttrs?.os }}
          </div>
           @if(canDeleteTags){
          <button class="delete-button" (click)="deleteTag(artifact)">
              <mat-icon>delete</mat-icon></button>
          }
        </div>
         <div class="multi-line-ellipsis">
        </div>
        <div class="link-footer">
          <span class="footer-text"
            >Pushed at: {{ artifact?.tag?.pushTime | date : "mediumDate" }}</span
          >
          <span class="footer-text"
            >Last pull: {{ artifact?.tag?.pullTime ? '/' : artifact?.tag?.pullTime | date : "mediumDate" }}</span
          >
          <span class="footer-text"
            >docker pull {{ artifact?.repositoryName }}:{{ artifact?.tag?.name }}</span
          >
        </div>
      </div>
    </div>
    } @empty {
    <div class="no-users">There are no tags</div>
    }
  </div>
</div>
