.container {
    display: flex;
    justify-content: center;
}

.link-container:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.2);
}

.link-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-container {
    width: 200px;
}

.details-container {
    width: 500px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.ellipsis {
    display: inline-block;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    font-weight: bold;
    color: var(--primary-color);
    margin-right: 10px;
    font-size: medium;
}

.multi-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid lightgray;
    text-align: left;
    line-height: 18px;
    height: calc(18px * 2);
    margin-left: 8%;
}

.link-footer {
    width: 120%;
    text-align: right;
    margin-top: 10px;
    font-size: 0.9rem;
    justify-content: space-between;
}

.footer-text {
    margin-right: 5px;
    color: var(--primary-color);
    opacity: 0.8;
    font-size: 0.925rem;
}

span.footer-text {
    margin-right: 15px;
    font-family: "roboto-light", serif;
}

.no-users {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #555;
    margin-top: 20px;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 80vh;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    justify-content: flex-start;
    width: auto;
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.add-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #7e8cb4; /* Button color */
    color: white;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.add-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.link-container {
    max-width: 800px;
    box-shadow: 1px 1px 6px 0 lightgray;
    border-radius: 10px;
    background-color: #e7e7e71f;
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.orgs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 5rem;
    height: 5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
}