.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-card {
    max-width: 400px; /* Limit the card width */
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.centered-header {
    text-align: center;
    margin-bottom: 1rem; /* Space below the title */
}

.link {
    padding-left: 0.5rem;
}

.form-container {
    display: flex;
    flex-direction: column; /* Stack fields vertically */
    gap: 1rem; /* Space between form fields */
}

.form-column {
    flex: 1;
}

.compact-field {
    width: 100%; /* Ensure fields take full width */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Align the login button to the right */
    margin-top: 1rem; /* Space above the button */
}

.registration-link {
    text-align: center; /* Center the registration link */
    margin-top: 1rem; /* Space above the link */
}

mat-error {
    font-size: 0.875rem;
    color: red;
}

mat-card-title {
    font-size: 1.8rem;
}

@media (max-width: 480px) {
    .main-card {
        max-width: 90%;
    }

    .centered-header {
        font-size: 1.25rem;
    }
}
