.teams-content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.team-container {
  display: flex;
}

.team-details-container {
  width: 21rem;
  height: fit-content;
  box-shadow: 1px 1px 6px 0px lightgray;
  border-radius: 10px;
  background-color: #e7e7e71f;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.team-details-container:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2);
}

.link-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  color: var(--primary-color);
}

.ellipsis {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding-bottom: 3px;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid lightgray;
  text-align: left;
  line-height: 18px;
  height: calc(18px * 2);
}

.link-footer {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  font-size: 0.9rem;
}

.footer-text {
  margin-right: 5px;
  color: var(--primary-color);
  opacity: 0.8;
  font-size: 0.925rem;
}

span.footer-text {
  margin-right: 15px;
  font-family: "roboto-light";
}

.no-teams {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #555;
  margin-top: 20px;
}

.delete-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  border-radius: 50%;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
}

.delete-button mat-icon {
  font-size: 17px;
  color: gray;
  transition: all 0.2s ease-in;
  height: auto;
}

.delete-button:hover mat-icon {
  color: #8b0c33;
}
.delete-button:hover {
  background-color: #e2e3e5;
}