.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem;
  background: #f0f8ff54;
  box-shadow: inset 3px -3px 4px #43434317;
}

.avatar {
  width: 150px;
  height: 150px;
  background-color: var(--primary-color);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
}

.username-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
}

.community-info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.joined {
  font-size: 0.85rem;
  color: #666;
}

.icons {
  font-size: 1rem;
  color: var(--primary-color);
}

.docker-commands {
  width:20%;
  margin-right: 5%;
  margin-left: auto;
}

.docker-commands span {
  font-size: 1 rem;
}

.command-view{
  color: rgb(129, 144, 238);
}

.users-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.user-container {
    display: flex;
}

.user-details-container {
    position: relative;
    width: 21rem;
    box-shadow: 1px 1px 6px 0px lightgray;
    border-radius: 10px;
    background-color: #e7e7e71f;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.user-details-container:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2);
}

.link-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    font-size: medium;
    font-weight: bold;
    color: var(--primary-color);
}

.ellipsis {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-bottom: 3px;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid lightgray;
    text-align: left;
    line-height: 18px;
    height: calc(18px * 2);
}

.link-footer {
    width: 100%;
    text-align: right;
    margin-top: 10px;
    font-size: 0.9rem;
}

.footer-text {
    margin-right: 5px;
    color: var(--primary-color);
    opacity: 0.8;
    font-size: 0.925rem;
}

span.footer-text {
    margin-right: 15px;
    font-family: "roboto-light";
}

.no-users {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #555;
    margin-top: 20px;
}

.community-info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.icons {
  font-size: 1rem;
  color: var(--primary-color);
}

.joined {
  font-size: 0.8rem;
  color: #666;
}

.date-role-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9rem;
}

.date-role-container .footer-text {
    margin: 0;
    opacity: 0.8;
    color: var(--primary-color);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    position:absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.action-button {
    border: none;
    background: transparent;
    transition: all 0.2s ease-in;
    border-radius: 50%;
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
}

.delete-button mat-icon {
    font-size: 1rem;
    color: gray;
    height: auto;
}

.delete-button:hover mat-icon {
    color: #8b0c33;
}
.delete-button:hover {
    background-color: #e2e3e5;
}

.leave-button mat-icon {
    font-size: 1rem;
    height: auto;
    color: gray;
}

.leave-button:hover mat-icon {
    color: #8b0c33;
}

.leave-button:hover {
    background-color: #e2e3e5;
}

.leave-repository-button {
    color: #8b0c33;
    transition: all 0.2s ease-in;
}

.leave-repository-button:hover mat-icon {
    color: gray;
}

.leave-repository-button:hover {
    background-color: #e2e3e5;
}