<div class="profile-container">
  <div class="avatar">
    <span class="avatar-letter">{{ capitalizedLetterAvatar }}</span>
  </div>
  <div class="profile-details">
    <div class="username-container">
      <span class="username">{{ repository?.name }}</span>
      <app-repository-badge
        [iconSize]="'medium-icon'"
        [ownedBy]="repository?.ownedBy"
        [ownerBadge]="repository?.badge"
      />
      @if (canUserDelete) {
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Edit repository"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToRepoEdit()">
          <span>Edit</span>
        </button>
        <button
          mat-menu-item
          (click)="openAddCollaboratorModal()"
          *ngIf="!isOrganizationRepository()"
        >
          <span>Add Collaborator</span>
        </button>
        <button mat-menu-item (click)="openDeleteRepositoryModal()">
          <span>Delete repository</span>
        </button>
      </mat-menu>
      }
    </div>
    <div class="community-info">
      <i class="fa-regular fa-user icons"></i>
      <span class="joined">Owner: {{ repository?.ownerUsername }}</span>
    </div>
    <div class="community-info">
      <span class="joined">{{ repository?.description }}</span>
    </div>
  </div>
  <div class="docker-commands">
    <h3><strong>Docker commands</strong></h3>
    <span class="docker-commands"> To push a new tag to this repository: </span
    ><br />
    <span class="command-view">
      docker push {{ repository?.fullName }}:tagname
    </span>
  </div>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Tags" *ngIf="repository">
    <ng-template matTabContent>
      <app-tags [repository]="repository"></app-tags>
    </ng-template>
  </mat-tab>
  <mat-tab label="Collaborators" *ngIf="isCurrentUserCollaborator && collaborators">
    <ng-template matTabContent>
      <div class="users-content-container">
        <div class="users-container">
          <ng-container
            *ngIf="collaborators && collaborators.length > 0; else noCollaborators"
          >
            <ng-container
              *ngFor="let item of collaborators; trackBy: trackById"
            >
              <div
                *ngIf="isUser(item)"
                class="user-container"
                (click)="onUserClick(item)"
              >
                <div class="user-details-container">
                  <div class="link-header">
                    <span class="ellipsis">{{ item.username }}</span>
                    <app-user-badge
                      [userBadge]="item.badge"
                      [showInfo]="false"
                      [iconSize]="'small-icon'"
                    ></app-user-badge>
                  </div>
                  <div class="multi-line-ellipsis">{{ item.email }}</div>
                  <div class="link-footer">
                    <span class="footer-text"
                      >Created at:
                      {{ item.createdAt | date : "mediumDate" }}</span
                    >
                  </div>
                </div>
              </div>

              <div
                *ngIf="isTeam(item)"
                class="user-container"
                (click)="onTeamClick(item)"
              >
                <div class="user-details-container">
                  <div class="link-header">
                    <span class="ellipsis">{{ item.name }}</span>
                  </div>
                  <div class="multi-line-ellipsis">{{ item.description }}</div>
                  <div class="link-footer date-role-container">
                    <span class="footer-text"
                      >Created At:
                      {{ item.createdAt | date : "mediumDate" }}</span
                    >
                    <span class="footer-text"
                      >Team Role: {{ item.teamRole }}</span
                    >
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-template #noCollaborators>
            <div class="no-users">There are no collaborators</div>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
